@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-primary: #1e5afa;
  --color-primary-variant: rgba(0, 0, 240, 0.2);
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-black: #000f37;
  --color-dark: #575757;

  --bottom-section-padding: 12rem;
  --bottom-section-padding-mobile: 8rem;

  --transition: all 400ms ease;

  --container-width: 84%;
  --container-width-tablet: 90%;
  --container-width-phone: 94%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  background: url("./images/signup.avif");
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.wrapper h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.wrapper form {
  margin-top: 30px;
}
.wrapper form .input-box {
  height: 52px;
  margin: 18px 0;
}
form .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #c7bebe;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #4070f4;
}
form .policy {
  display: flex;
  align-items: center;
}
form h3 {
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: var(--color-primary);
  cursor: pointer;
}
.input-box.button input:hover {
  background: var(--color-primary);
}
.input-box.btn.btn-primary a input {
  padding: 0.5rem;
  background: var(--color-black);
  color: var(--color-white);
  cursor: pointer;
}
form .text h3 {
  color: #333;
  width: 100%;
  text-align: center;
}
form .text h3 a {
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  padding: 1rem 0.3rem;
  background: var(--color-white);
  color: var(--color-light);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
}

.btn-primary a {
  color: var(--color-black);
  transition: all 300ms ease;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: 1.25rem;
}
